.button-wrapper {
  height: 3em;
  display: flex;
  margin: 4px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #48856ee5;
  color: #0a0909;
  flex: 1;
  outline: 1px solid #888888;
}

.operator {
  background-color: #1f2b26cb;
  color: #ffffff;
}