.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width:100%;
}

.mainContainer {
  background-image: url("https://drive.google.com/uc?id=15qwaPg4Co6Ej0sKibe6Yjr0WMenqMNOL");
  background-size:cover;
}

.calc-wrapper {
  width: 300px;
  height: 550px;
 

}

.calulatorRow {
  display: flex;
  width: 100%;
}